<div class='card mb-3'>
  <div class='card-body'>
	  <h5 class='card-title'>Import Contacts</h5>
		<div class='row'>
			<div class='col'>
			  <% if flash[:danger] %>
				  <div class='alert alert-danger'>
					  <%= flash[:danger] %>
					</div>
				<% end %>
				<%= form_with model: @import do |form| %>
				  <div class='mb-3'>
						<%= form.file_field :file, class: 'form-control', accept: ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel", required: true %>
					</div>
					<%= render partial: 'column_number_field', locals: { label: 'Name Column #', attribute: :name_column_number, form: form } %>
					<%= render partial: 'column_number_field', locals: { label: 'Birthdate Column #', attribute: :birthdate_column_number, form: form } %>
					<%= render partial: 'column_number_field', locals: { label: 'Phone Column #', attribute: :phone_column_number, form: form } %>
					<%= render partial: 'column_number_field', locals: { label: 'Address Column #', attribute: :address_column_number, form: form } %>
					<%= render partial: 'column_number_field', locals: { label: 'Credit Card Column #', attribute: :credit_card_column_number, form: form } %>
					<%= render partial: 'column_number_field', locals: { label: 'Email Column #', attribute: :email_column_number, form: form } %>

					<div class="mb-3 form-check">
						<label class="form-check-label" for="has-header">Has Headers?</label>
						<%= form.check_box :has_headers?, class:'form-check-input', id: 'has-header' %>
					</div>

					<%= form.submit 'Import', class: 'btn btn-primary' %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<h3 class='mb-3'>Previous Imports</h3>

<% if @imports.count.zero? %>
  <p>
	  No imports made yet
	</p>
<% end %>

<% @imports.each do |import| %>
	<div class='card mb-2'>
		<div class='card-body'>
		  <div class='row'>
				<div class='col'>
					<h5 class='card-title'><%= link_to "Import #{import.created_at}", import_path(import) %></h5>
				</div>
				<div class='col text-end'>
				  <span class="badge bg-<%= variant_for_status(import.status) %>"><%= import.status.capitalize %></span>
				</div>
			</div>
			<strong>File: </strong><%= link_to('Download', rails_blob_path(import.file, disposition: "attachment")) %>
		</div>
	</div>
<% end %>