<!DOCTYPE html>
<html>
  <head>
    <title>Contacts Assessment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Importer</a>
          <div class="d-flex">
            <%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>
          </div>
        </div>
      </nav>
    <% end %>
    <div class='container mt-5'>
      <%= yield %>
    </div>
  </body>
</html>
